html {
  font-family: 'Montserrat', sans-serif;
}
body {
  background: grey;
}
h1 {
  text-align: center;
}
.chalkboard {
	background-color: #425a5a;
	border: 25px solid #523620;
	border-radius: 20px;
	padding: 40px 20px;
	margin: 0px auto;
	height: 370px;
	width: 600px;
	text-align: center;
}
